@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Lato:wght@100;300;400;700&family=Poppins:wght@100;300;500&display=swap');
/* General style */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Poppins', sans-serif;
    background-color: #b4b3b3;
    font-size: 10px;
}

#user_mail_reg,
#Features,
#pricing,
#how_it_works{
    grid-column: 2 /3;
    max-width: 80vw;
}
/* End of general style */

/*Header  */

.header{
    padding: 1rem;
    position: sticky;
    top: 0;
    background-color: #b4b3b3;
    z-index: 1;
}

.nav-link li {
    display: inline-block;
    list-style: none;
    margin: 1rem;
}
.nav-link li a{
    color: black;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 10px 10px;
    text-decoration: none;
}
.nav-link li a:hover{
    background-color: rgba(20,20,20,.1);
}

#nav-bar h2{
    display: inline-block;
    font-family: 'Arizonia', cursive;
    font-size: 3rem;
    vertical-align: top;

}
/* End of Header */

/* main */
main{
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(max-content, 94rem) minmax(2rem, 1fr);
    grid-gap: 4rem;
    
}
/* End of main */




/*User mail Reg */
#user_mail_reg{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    /* border: 2px solid black; */
}
h1{
    font-size: 3rem;
}
input[type="email"]{
    padding: 6px 5px;
    width: 35%;
}
input[type="email"]:focus{
    border: 2px solid black;
}
input[type="submit"]{
  display: block;
  margin: 0 auto;
  padding: 5px 20px;
  border: none;
  background-color: #f1c40f;
  font-weight: bolder;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 1.2rem;
}
input[type="submit"]:hover{
    opacity: .8;
}
form{
    margin-top: 1rem; 
  
}
/*End of User mail Reg  */




/*Features  */

.icons{
    width: 125px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
   
    
    
}
.description{
    flex-grow:1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    word-wrap: normal;
    padding:0 5px;

}

.contianer{
    display: flex;
    height: 125px;
    justify-content: space-between;
    

}

.p-heading{
    font-size: 2rem;
    margin-bottom: 5px;
}
.description p{
    font-size: 1.4rem;
    font-weight: 400;
}
.icons i{
    color: #f7cc21;
}
   

/* End of features */





/* how it works */
iframe{
    width:80%;
    height:450px ;
    display: block;
    margin: 0 auto;
   
}
/* End of how it works */



/* Pricing */
.p_contianer{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    width: 100%;
    justify-content: center;
}
.products{
   
    display: flex;
    flex-direction: column;
    height: 300px;
    width:25%;
    border: 1px solid black;
    align-items: center;
    margin: 20px;
    position: relative;

}
.product_name{
    background-color: #ddd;
    width: 100%;
    height: 15%;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    letter-spacing: .1rem;
}
.product_price{
    font-size: 2.5rem;
    font-weight: 400;
    padding-top: 20px;
}
.products ul{
    margin-top: 10px;
    display: block;
    text-align: center;
}
.products ul li{
    list-style:none;
    font-size: 1.5rem;
    font-weight: 300;
    
}
.select{
    border: none;
    padding: 5px 25px;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: absolute;
    bottom: 30px;
    background-color: #f7cc21;
}
/* End of pricing */

/*Footer*/

#footer{
    position: relative;
    bottom: 0;
    height:fit-content; 
    display:flex; 
    flex-direction: column;
    background-color: #ddd;
    align-items: flex-end;
    padding: 5px 15px 0 0;
    margin-top: 4rem;
}

.fot-link li {
    list-style: none;
    display: inline-block;
}
.fot-link li a{
    color: black;
    font-size: 1.5rem;
    padding: 0 5px;
    text-decoration: none;
    margin: 5px 0;
}

#copyright{
    font-weight: 300;
    font-size: 1.7rem;
    color: #444;
    display: block;
    margin-bottom: 8px;
    
}
/*End of footer  */
@media only screen and  (max-width:480px) {
    body{
        width: 100vw;
    }
    #nav-bar{
        flex-direction: column;
        align-items: center;
    }
    .nav-link li{
        display: block;
        text-align: center;
    }
    .logo h2{
        font-size: 2.5rem;
    }
    .icons{
        display: none;
    }
    iframe{
        width: 100%;
        height: 300px;
    }
    .p_contianer{
        flex-direction: column;
        align-items: center;
    }
    .products{
        width:100%;
        word-wrap: normal;
    }
}
@media only screen and (max-width:768px) {
    #nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}